Demos/CDP Experiences/Data Flow Experience/Batch_Postgres.json
{"flowContents":{"identifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"Batch Postgres","comments":"","position":{"x":1728.5,"y":364.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cf3073b5-3143-3f95-8055-718581a280fe","name":"ExecuteSQLRecord","comments":"","position":{"x":618.0,"y":159.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","properties":{"esql-max-rows":"0","esqlrecord-record-writer":"cd357228-ff35-3569-b62e-945ce16f1e98","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3b4e81a9-4e69-3de9-bcbc-3f533696d3ce","sql-post-query":null,"dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from inventory.customers","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"b352f8ba-fda9-350f-91a4-74f70b17e8dd","name":"MergeRecord","comments":"","position":{"x":616.0,"y":496.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":"5 minute","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"100","max-bin-size":"1 mb","record-writer":"cd357228-ff35-3569-b62e-945ce16f1e98","merge-strategy":"Bin-Packing Algorithm","record-reader":"61a337f6-0c9a-3f42-9107-47bb14f614de","max-records":"5000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"21a167d7-dd96-34f9-9f74-e82dcaa4e35c","name":"","source":{"id":"b352f8ba-fda9-350f-91a4-74f70b17e8dd","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"MergeRecord","comments":""},"destination":{"id":"b352f8ba-fda9-350f-91a4-74f70b17e8dd","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1080.0,"y":532.0},{"x":1080.0,"y":582.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"ccb8c788-0282-36d5-97ca-54f08318f9f6","name":"","source":{"id":"cf3073b5-3143-3f95-8055-718581a280fe","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"ExecuteSQLRecord","comments":""},"destination":{"id":"cf3073b5-3143-3f95-8055-718581a280fe","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"ExecuteSQLRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1087.0,"y":198.0},{"x":1087.0,"y":248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"7f23dab9-7e7c-3bb1-8f42-1fab0365332d","name":"","source":{"id":"cf3073b5-3143-3f95-8055-718581a280fe","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"ExecuteSQLRecord","comments":""},"destination":{"id":"b352f8ba-fda9-350f-91a4-74f70b17e8dd","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"5db34e97-1a7e-31dd-8357-03640ca2d7e3","name":"","source":{"id":"b352f8ba-fda9-350f-91a4-74f70b17e8dd","type":"PROCESSOR","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"MergeRecord","comments":""},"destination":{"id":"222475c3-5ac7-3bfd-8cd1-08c1ed335be5","type":"FUNNEL","groupId":"2e87451e-e537-3d4c-816f-2b12404cb2c9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"}],"labels":[],"funnels":[{"identifier":"222475c3-5ac7-3bfd-8cd1-08c1ed335be5","position":{"x":768.0,"y":848.0},"componentType":"FUNNEL","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"}],"controllerServices":[{"identifier":"cd357228-ff35-3569-b62e-945ce16f1e98","name":"JsonRecordSetWriter-database","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"3b4e81a9-4e69-3de9-bcbc-3f533696d3ce","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.10.32.74:5499/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{postgres_jar_location}","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"},{"identifier":"61a337f6-0c9a-3f42-9107-47bb14f614de","name":"JsonTreeReader-merge","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2e87451e-e537-3d4c-816f-2b12404cb2c9"}],"variables":{},"parameterContextName":"batchPostgresContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"batchPostgresContext":{"name":"batchPostgresContext","parameters":[{"name":"postgres_jar_location","description":"","sensitive":false,"value":"/tmp/postgresql-42.2.24.jar"},{"name":"postgres_password","description":"","sensitive":true}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}