Demos/CDP Experiences/Data Flow Experience/NiFi_Flow.json
{"flowContents":{"identifier":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"Kudu Overwrite","comments":"","position":{"x":1728.0,"y":-32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e99fb3a0-d78d-3aab-a598-d900c45bd7b1","name":"GenerateFlowFile","comments":"","position":{"x":598.0,"y":101.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\"id\": 123456, \"measurement_time\": ${now():toNumber()}}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"},{"identifier":"0bc082b3-0f69-3d8f-b5ff-ef7c754ae104","name":"PutKudu","comments":"","position":{"x":1288.0,"y":392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"impala::default.kudu_update_test","kerberos-password":"#{CDP_workload_password}","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":"#{CDP_username}","Lowercase Field Names":"false","Insert Operation":"UPSERT","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"#{kudu_master_list}","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","worker-count":"16","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"},{"identifier":"9046c8b5-4d80-37e9-bdf3-f8091d196ff1","name":"ConvertRecord","comments":"","position":{"x":1286.0,"y":87.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"ce23ede3-3373-3638-a595-bb8426bee823","record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c8e629a3-f3b5-36ff-b60b-ab7826195b38","name":"","source":{"id":"0bc082b3-0f69-3d8f-b5ff-ef7c754ae104","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"PutKudu","comments":""},"destination":{"id":"0bc082b3-0f69-3d8f-b5ff-ef7c754ae104","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"PutKudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1757.0,"y":431.0},{"x":1757.0,"y":481.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"},{"identifier":"4d2b1706-721c-311d-aacf-29009468abab","name":"","source":{"id":"9046c8b5-4d80-37e9-bdf3-f8091d196ff1","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"ConvertRecord","comments":""},"destination":{"id":"9046c8b5-4d80-37e9-bdf3-f8091d196ff1","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1755.0,"y":126.0},{"x":1755.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"},{"identifier":"eb445fb7-0388-3176-af32-576e3af0d5b2","name":"","source":{"id":"9046c8b5-4d80-37e9-bdf3-f8091d196ff1","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"ConvertRecord","comments":""},"destination":{"id":"0bc082b3-0f69-3d8f-b5ff-ef7c754ae104","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"PutKudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"},{"identifier":"582006a2-3f83-385d-9fff-a14e8b41941c","name":"","source":{"id":"e99fb3a0-d78d-3aab-a598-d900c45bd7b1","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"GenerateFlowFile","comments":""},"destination":{"id":"9046c8b5-4d80-37e9-bdf3-f8091d196ff1","type":"PROCESSOR","groupId":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e25e670-b70d-3b19-a79a-6b4b91b0dfc2"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"paramContext","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"}],"remoteProcessGroups":[],"processors":[{"identifier":"0bc673ca-e1c5-3b32-aa22-41ef8ad03acb","name":"PutKudu","comments":"","position":{"x":1024.0,"y":344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"impala::default.kudu_table","kerberos-password":"#{CDP_workload_password}","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":"#{CDP_username}","Lowercase Field Names":"false","Insert Operation":"INSERT","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"#{kudu_master_list}","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","worker-count":"16","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"85f5951d-ff11-3170-9afe-ed1d1acf772e","name":"PutS3Object","comments":"","position":{"x":1432.0,"y":480.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{aws_access_key}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{aws_secret}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"inbound-nifi/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3_bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"cf06a84b-1cdc-39bf-916e-00638a36fd75","name":"ConvertRecord","comments":"","position":{"x":280.0,"y":264.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"ce23ede3-3373-3638-a595-bb8426bee823","record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"a8a6e0ca-89e4-3d49-9b6d-dd38dfe04f84","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":280.0,"y":504.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"ce23ede3-3373-3638-a595-bb8426bee823","bootstrap.servers":"#{kafka_broker_list}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP_username}","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"7b140593-dd92-3f44-bf34-6fb7801bbe7f","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{kafka_topic}","sasl.password":"#{CDP_workload_password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"80880156-a7fe-3869-a28b-54face680595","name":"GenerateFlowFile","comments":"","position":{"x":280.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\"id\": \"${UUID()}\", \"measurement_time\": ${now():toNumber()}}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0.5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"e1381b01-2e2d-3e17-81c2-d0c1ab4a5d71","name":"MergeContent","comments":"","position":{"x":1432.0,"y":208.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30 seconds","Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"a8e63e36-7945-32ef-95b0-6c6308423830","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":1152.0,"y":0.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","properties":{"header-name-regex":null,"record-writer":"ce23ede3-3373-3638-a595-bb8426bee823","group.id":"nifi_consumer","bootstrap.servers":"#{kafka_broker_list}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"false","record-reader":"98651220-5bd3-34c9-bff7-8cee40181451","message-header-encoding":"UTF-8","sasl.username":"#{CDP_username}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"7b140593-dd92-3f44-bf34-6fb7801bbe7f","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{kafka_topic}","separate-by-key":"false","sasl.password":"#{CDP_workload_password}","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f3cdb79a-8ff2-3879-a4e8-63956ecdfc4d","name":"","source":{"id":"a8e63e36-7945-32ef-95b0-6c6308423830","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConsumeKafkaRecord_2_6","comments":""},"destination":{"id":"e1381b01-2e2d-3e17-81c2-d0c1ab4a5d71","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"a50a52ba-b3f5-3bcd-b593-a92cc2686e4a","name":"","source":{"id":"80880156-a7fe-3869-a28b-54face680595","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"GenerateFlowFile","comments":""},"destination":{"id":"cf06a84b-1cdc-39bf-916e-00638a36fd75","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"375c3ae6-94fa-332a-a6dd-f513ef50b836","name":"","source":{"id":"a8a6e0ca-89e4-3d49-9b6d-dd38dfe04f84","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PublishKafkaRecord_2_6","comments":""},"destination":{"id":"a8a6e0ca-89e4-3d49-9b6d-dd38dfe04f84","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PublishKafkaRecord_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":751.0,"y":542.0},{"x":751.0,"y":592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"e8eb678c-bbeb-372f-b42e-c80276d4e195","name":"","source":{"id":"e1381b01-2e2d-3e17-81c2-d0c1ab4a5d71","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"MergeContent","comments":""},"destination":{"id":"e1381b01-2e2d-3e17-81c2-d0c1ab4a5d71","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1899.0,"y":246.0},{"x":1899.0,"y":296.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"926deb50-198e-3200-9727-dac1f09d78b1","name":"","source":{"id":"0bc673ca-e1c5-3b32-aa22-41ef8ad03acb","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutKudu","comments":""},"destination":{"id":"0bc673ca-e1c5-3b32-aa22-41ef8ad03acb","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutKudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1288.0,"y":544.0},{"x":1280.0,"y":536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"0220bb29-e975-387d-8d38-fb62cde034e9","name":"","source":{"id":"a8e63e36-7945-32ef-95b0-6c6308423830","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConsumeKafkaRecord_2_6","comments":""},"destination":{"id":"0bc673ca-e1c5-3b32-aa22-41ef8ad03acb","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutKudu","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"603222cf-a674-37db-b986-6180ea70eb23","name":"","source":{"id":"cf06a84b-1cdc-39bf-916e-00638a36fd75","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConvertRecord","comments":""},"destination":{"id":"a8a6e0ca-89e4-3d49-9b6d-dd38dfe04f84","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PublishKafkaRecord_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"05fa9050-6f63-30cf-8cef-604fe9023ecb","name":"","source":{"id":"85f5951d-ff11-3170-9afe-ed1d1acf772e","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutS3Object","comments":""},"destination":{"id":"85f5951d-ff11-3170-9afe-ed1d1acf772e","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1898.0,"y":517.0},{"x":1898.0,"y":567.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"ac82db70-ff06-3bfa-92fc-c5542e82bdb1","name":"","source":{"id":"cf06a84b-1cdc-39bf-916e-00638a36fd75","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConvertRecord","comments":""},"destination":{"id":"cf06a84b-1cdc-39bf-916e-00638a36fd75","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":749.0,"y":306.0},{"x":749.0,"y":356.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"c58ddeac-33e1-3de7-8915-c4622071e7d3","name":"","source":{"id":"e1381b01-2e2d-3e17-81c2-d0c1ab4a5d71","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"MergeContent","comments":""},"destination":{"id":"85f5951d-ff11-3170-9afe-ed1d1acf772e","type":"PROCESSOR","groupId":"38ec98ff-6927-3603-9e79-7df7e824e048","name":"PutS3Object","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1608.0,"y":408.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"}],"labels":[{"identifier":"f5e33ecb-fc86-3353-9049-0db13c293c3f","position":{"x":232.0,"y":-32.0},"label":"Publish data to Kafka","width":672.0,"height":696.0,"style":{"background-color":"#b2f0b2","font-size":"22px"},"componentType":"LABEL","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"2c2af9bc-510f-370a-93f7-a24c305fed44","position":{"x":984.0,"y":-32.0},"label":"Consume Kafka into Kudu & S3","width":672.0,"height":688.0,"style":{"font-size":"22px"},"componentType":"LABEL","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"}],"funnels":[],"controllerServices":[{"identifier":"7b140593-dd92-3f44-bf34-6fb7801bbe7f","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"98651220-5bd3-34c9-bff7-8cee40181451","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"},{"identifier":"ce23ede3-3373-3638-a595-bb8426bee823","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"38ec98ff-6927-3603-9e79-7df7e824e048"}],"variables":{},"parameterContextName":"paramContext","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"paramContext":{"name":"paramContext","parameters":[{"name":"kudu_master_list","description":"","sensitive":false,"value":"cnelson2-rtdw-master10.crnxx-aw.a465-9q4k.cloudera.site, cnelson2-rtdw-master30.crnxx-aw.a465-9q4k.cloudera.site, cnelson2-rtdw-master20.crnxx-aw.a465-9q4k.cloudera.site"},{"name":"aws_secret","description":"","sensitive":true},{"name":"aws_access_key","description":"","sensitive":true},{"name":"kafka_broker_list","description":"","sensitive":false,"value":"10.10.16.46:9093, 10.10.21.56:9093, 10.10.12.201:9093"},{"name":"kafka_topic","description":"","sensitive":false,"value":"sensor_data"},{"name":"CDP_username","description":"","sensitive":false,"value":"cnelson2"},{"name":"CDP_workload_password","description":"","sensitive":true},{"name":"s3_bucket","description":"","sensitive":false,"value":"crnxx-uat2"}]}},"flowEncodingVersion":"1.0"}