Demos/CDP Experiences/Data Flow Experience/Raw_Sensor_Data.json
{"flowContents":{"identifier":"a4174950-07bb-3bfe-81b2-9f39cb86314c","name":"Raw Sensor Data","comments":"","position":{"x":1090.0,"y":255.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"11178fed-d353-3e04-bb8b-b018eef88605","name":"Generate Sensor Data","comments":"","position":{"x":632.0,"y":144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"id\": \"${UUID()}\",\n \"measurement_time\": ${now():toNumber()},\n \"sensor_1\": ${math(\"random\")},\n \"sensor_2\": ${math(\"random\")},\n \"sensor_3\": ${math(\"random\")},\n \"sensor_4\": ${math(\"random\")},\n \"sensor_5\": ${math(\"random\")}\n}\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a4174950-07bb-3bfe-81b2-9f39cb86314c"},{"identifier":"78f42e05-bb63-3caa-b5cb-2d15919c219a","name":"PublishKafka_2_6","comments":"","position":{"x":632.0,"y":520.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{kafka_host}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{workload_username}","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"aa0eb66d-aaab-3cc2-883f-987c83e9e726","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"raw_sensor_data","sasl.password":"#{workload_password}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a4174950-07bb-3bfe-81b2-9f39cb86314c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ad4b6a5a-0fbc-3cd7-b9c9-442fd203e684","name":"","source":{"id":"78f42e05-bb63-3caa-b5cb-2d15919c219a","type":"PROCESSOR","groupId":"a4174950-07bb-3bfe-81b2-9f39cb86314c","name":"PublishKafka_2_6","comments":""},"destination":{"id":"78f42e05-bb63-3caa-b5cb-2d15919c219a","type":"PROCESSOR","groupId":"a4174950-07bb-3bfe-81b2-9f39cb86314c","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1095.0,"y":557.0},{"x":1095.0,"y":607.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4174950-07bb-3bfe-81b2-9f39cb86314c"},{"identifier":"14cb0776-7d65-3e5a-83a8-22424db7a4bf","name":"","source":{"id":"11178fed-d353-3e04-bb8b-b018eef88605","type":"PROCESSOR","groupId":"a4174950-07bb-3bfe-81b2-9f39cb86314c","name":"Generate Sensor Data","comments":""},"destination":{"id":"78f42e05-bb63-3caa-b5cb-2d15919c219a","type":"PROCESSOR","groupId":"a4174950-07bb-3bfe-81b2-9f39cb86314c","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a4174950-07bb-3bfe-81b2-9f39cb86314c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"RawSensorContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"aa0eb66d-aaab-3cc2-883f-987c83e9e726":{"identifier":"aa0eb66d-aaab-3cc2-883f-987c83e9e726","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"RawSensorContext":{"name":"RawSensorContext","parameters":[{"name":"workload_password","description":"","sensitive":true},{"name":"kafka_host","description":"","sensitive":false,"value":"cnelson2-kafka-light-corebroker0.crnxx-aw.a465-9q4k.cloudera.site:9093,cnelson2-kafka-light-corebroker1.crnxx-aw.a465-9q4k.cloudera.site:9093,cnelson2-kafka-light-corebroker2.crnxx-aw.a465-9q4k.cloudera.site:9093"},{"name":"workload_username","description":"","sensitive":false,"value":"cnelson2"}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}