Demos/nifi-DFX/Postgres2Mongo-S3.json
{"flowContents":{"identifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Postgres2Mongo","comments":"","position":{"x":896.0,"y":226.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a4ad25e4-7cd5-37b4-8e69-80defb6d2807","name":"PutS3Object","comments":"","position":{"x":1056.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{Access Key ID}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{Secret Access Key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{table_name}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3_bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"9b14754a-6af2-3530-b888-6134e74ebf4b","name":"MergeRecord","comments":"","position":{"x":1056.0,"y":184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":"30 seconds","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"50","max-bin-size":null,"record-writer":"cfd624fc-3486-3b56-9544-216bc750e0d1","merge-strategy":"Bin-Packing Algorithm","record-reader":"b8278c1d-f03f-31d4-8c25-8689661fe84d","max-records":"1000","min-bin-size":"1000 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"27ea00bd-4959-36c5-b119-e153ed659c93","name":"ExecuteSQLRecord","comments":"","position":{"x":704.0,"y":16.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","properties":{"esql-max-rows":"0","esqlrecord-record-writer":"cfd624fc-3486-3b56-9544-216bc750e0d1","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"ee82d41e-ff64-3598-abf5-28d9fcae7de9","sql-post-query":null,"dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from #{table_name}","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"8202b48e-86b3-3bf8-9628-4d9e3af13c6a","name":"Upper Case Email","comments":"","position":{"x":320.0,"y":184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","properties":{"//email":"${field.value:toUpper()}","record-writer":"cfd624fc-3486-3b56-9544-216bc750e0d1","record-reader":"b8278c1d-f03f-31d4-8c25-8689661fe84d","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"//email":{"name":"//email","displayName":"//email","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"f56a77ec-db74-3f05-a893-a5c71f196b01","name":"Add Process Unixtime","comments":"","position":{"x":320.0,"y":344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-record-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.jolt.record.JoltTransformRecord","properties":{"jolt-record-record-writer":"cfd624fc-3486-3b56-9544-216bc750e0d1","jolt-record-transform-cache-size":"1","jolt-record-custom-class":null,"jolt-record-custom-modules":null,"jolt-record-transform":"jolt-transform-chain","jolt-record-record-reader":"b8278c1d-f03f-31d4-8c25-8689661fe84d","jolt-record-spec":"[{\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": \"&\"\n  }\n}, {\n  \"operation\": \"default\",\n  \"spec\": {\n    \"process_unixtime\": ${now():toNumber()}\n  }\n}]"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"jolt-record-transform-cache-size":{"name":"jolt-record-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false},"jolt-record-custom-class":{"name":"jolt-record-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-record-custom-modules":{"name":"jolt-record-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"jolt-record-transform":{"name":"jolt-record-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"jolt-record-spec":{"name":"jolt-record-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"87dd551b-8781-316b-8bb3-435b06e5752b","name":"PutMongoRecord","comments":"","position":{"x":320.0,"y":512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","properties":{"mongo-client-service":"c525a647-1d28-3b12-a980-40a152aaad4b","insert_count":"100","Mongo URI":null,"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mongo Collection Name":"collection_#{table_name}","record-reader":"b8278c1d-f03f-31d4-8c25-8689661fe84d","Mongo Database Name":"myMongoDB","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"insert_count":{"name":"insert_count","displayName":"Insert Batch Size","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"39daa719-0543-3ee5-afc5-70494ea48eb4","name":"","source":{"id":"27ea00bd-4959-36c5-b119-e153ed659c93","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"ExecuteSQLRecord","comments":""},"destination":{"id":"27ea00bd-4959-36c5-b119-e153ed659c93","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"ExecuteSQLRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1136.0,"y":32.0},{"x":1176.0,"y":-24.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"cf0fc3fe-9453-3cff-8dd5-19fc023ba90d","name":"","source":{"id":"a4ad25e4-7cd5-37b4-8e69-80defb6d2807","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutS3Object","comments":""},"destination":{"id":"a4ad25e4-7cd5-37b4-8e69-80defb6d2807","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1525.0,"y":391.0},{"x":1525.0,"y":441.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"907b24e6-dae6-34d7-b68b-f5e991a1e772","name":"","source":{"id":"f56a77ec-db74-3f05-a893-a5c71f196b01","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Add Process Unixtime","comments":""},"destination":{"id":"f56a77ec-db74-3f05-a893-a5c71f196b01","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Add Process Unixtime","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":787.0,"y":381.0},{"x":787.0,"y":431.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"14d1884c-9219-3aaa-b7fc-782ad66320b0","name":"","source":{"id":"9b14754a-6af2-3530-b888-6134e74ebf4b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"MergeRecord","comments":""},"destination":{"id":"a4ad25e4-7cd5-37b4-8e69-80defb6d2807","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutS3Object","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":928.0,"y":352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"831de945-fed6-343c-8891-f15dc2a4a07a","name":"","source":{"id":"87dd551b-8781-316b-8bb3-435b06e5752b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutMongoRecord","comments":""},"destination":{"id":"87dd551b-8781-316b-8bb3-435b06e5752b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutMongoRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":789.0,"y":550.0},{"x":789.0,"y":600.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"5e6e699d-f631-36fa-9cd1-a01c51e5c91f","name":"","source":{"id":"9b14754a-6af2-3530-b888-6134e74ebf4b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"MergeRecord","comments":""},"destination":{"id":"9b14754a-6af2-3530-b888-6134e74ebf4b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1525.0,"y":223.0},{"x":1525.0,"y":273.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"bf4b3d1f-8f12-3b5b-9ee4-ef0d16facc30","name":"","source":{"id":"8202b48e-86b3-3bf8-9628-4d9e3af13c6a","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Upper Case Email","comments":""},"destination":{"id":"f56a77ec-db74-3f05-a893-a5c71f196b01","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Add Process Unixtime","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":176.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"cda62859-b0c1-3042-881d-0c7f75e2b881","name":"","source":{"id":"27ea00bd-4959-36c5-b119-e153ed659c93","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"ExecuteSQLRecord","comments":""},"destination":{"id":"9b14754a-6af2-3530-b888-6134e74ebf4b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"MergeRecord","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1232.0,"y":80.0},{"x":1232.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"d2a04c3b-c9d1-3eec-bea7-ffa6934b5efb","name":"","source":{"id":"f56a77ec-db74-3f05-a893-a5c71f196b01","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Add Process Unixtime","comments":""},"destination":{"id":"87dd551b-8781-316b-8bb3-435b06e5752b","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"PutMongoRecord","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":176.0,"y":512.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"c29279b0-8a2b-35ee-ab1d-22ea368db15d","name":"","source":{"id":"27ea00bd-4959-36c5-b119-e153ed659c93","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"ExecuteSQLRecord","comments":""},"destination":{"id":"8202b48e-86b3-3bf8-9628-4d9e3af13c6a","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Upper Case Email","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":496.0,"y":80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"a5906170-9e3c-3a55-b68f-7377cbc86cb0","name":"","source":{"id":"8202b48e-86b3-3bf8-9628-4d9e3af13c6a","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Upper Case Email","comments":""},"destination":{"id":"8202b48e-86b3-3bf8-9628-4d9e3af13c6a","type":"PROCESSOR","groupId":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704","name":"Upper Case Email","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":791.0,"y":224.0},{"x":791.0,"y":274.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"}],"labels":[{"identifier":"f466326c-4982-399a-b796-89f13c82c4fb","position":{"x":288.0,"y":152.0},"label":"Curated Flow","width":456.0,"height":520.0,"style":{"background-color":"#dbffd6","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"c5bbfdac-50e2-3f7d-b282-73101eb91cd9","position":{"x":1024.0,"y":152.0},"label":"Raw Flow","width":456.0,"height":376.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"}],"funnels":[],"controllerServices":[{"identifier":"b8278c1d-f03f-31d4-8c25-8689661fe84d","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"ee82d41e-ff64-3598-abf5-28d9fcae7de9","name":"PG Connection Service","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{postgres_host}:5499/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{postgres_jar}","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"cfd624fc-3486-3b56-9544-216bc750e0d1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"},{"identifier":"c525a647-1d28-3b12-a980-40a152aaad4b","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":"admin","mongo-uri":"mongodb://#{mongo_host}:27017","Password":"#{mongo_password}"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb431ea5-4ff6-3a33-97d7-bf36e3fdb704"}],"variables":{},"parameterContextName":"my context","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"my context":{"name":"my context","parameters":[{"name":"Access Key ID","description":"","sensitive":true},{"name":"postgres_host","description":"","sensitive":false,"value":"10.10.88.152"},{"name":"postgres_jar","description":"","sensitive":false,"value":"/tmp/postgresql-42.3.1.jar"},{"name":"mongo_host","description":"","sensitive":false,"value":"10.10.88.152"},{"name":"mongo_user","description":"","sensitive":false,"value":"admin"},{"name":"postgres_password","description":"","sensitive":true},{"name":"table_name","description":"","sensitive":false,"value":"inventory.customers"},{"name":"mongo_password","description":"","sensitive":true},{"name":"s3_bucket","description":"","sensitive":false,"value":"crnxx-uat2"},{"name":"Secret Access Key","description":"","sensitive":true}]}},"flowEncodingVersion":"1.0"}