Demos/Ingest_from_RDBMS.json
{"flowContents":{"identifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Ingest from RDBMS","comments":"","position":{"x":997.0,"y":188.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b1894d91-1dbe-3ce9-9073-c492e63c8c00","name":"Insert data to Hive","comments":"","position":{"x":568.0,"y":304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.hive.PutHiveQL","properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"3dce3976-12a8-36da-b014-05e12f8e76e9","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"30e3fe89-2caf-3797-9f65-49a7d9e318eb","name":"Pull from DBMS","comments":"","position":{"x":544.0,"y":-352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","properties":{"esql-max-rows":"0","esqlrecord-record-writer":"f5fcfb80-d784-30f4-b6ba-48f6f04e69b6","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"34caba24-9d3e-3c09-bc18-8cf621ff3d20","sql-post-query":null,"dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from inventory.customers","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"3bb6659d-e487-341f-b43b-71164b197180","name":"Write Parquet to S3","comments":"","position":{"x":1352.0,"y":632.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"nifi-parquet/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"crnxx-uat2","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"16481b3d-e61f-3edc-8fec-5d76021080a1","name":"ConvertAvroToParquet","comments":"","position":{"x":1352.0,"y":472.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"4d7b0f34-f0db-370f-9b23-2c765856f952","name":"ConvertJSONToAvro","comments":"","position":{"x":1352.0,"y":312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.kite.ConvertJSONToAvro","properties":{"Hadoop configuration files":"/etc/hive/conf.cloudera.data_context_connector-9dce/hive-site.xml, /etc/hadoop/conf.cloudera.core_settings/core-site.xml","kite-compression-type":"NONE","Record schema":"${inferred.avro.schema}"},"propertyDescriptors":{"Hadoop configuration files":{"name":"Hadoop configuration files","displayName":"Hadoop configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kite-compression-type":{"name":"kite-compression-type","displayName":"Compression type","identifiesControllerService":false,"sensitive":false},"Record schema":{"name":"Record schema","displayName":"Record schema","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","name":"Transform-  Upper Case Email ","comments":"","position":{"x":1352.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","properties":{"//email":"${field.value:toUpper()}","record-writer":"f5fcfb80-d784-30f4-b6ba-48f6f04e69b6","record-reader":"9d2d575d-089c-37b3-a93b-152fae342d6e","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"//email":{"name":"//email","displayName":"//email","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"1fa3def4-ccfe-37e5-a8aa-31f2751d620d","name":"PutHBaseRecord","comments":"","position":{"x":104.0,"y":312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.hbase.PutHBaseRecord","properties":{"Table Name":"customers_h","Row Identifier Field Name":"$.id","hbase-record-null-field-strategy":"skip-field","Column Family":"col_family","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"1000","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"9d2d575d-089c-37b3-a93b-152fae342d6e","HBase Client Service":"cc907f1d-dbcc-309c-b2e1-433006a4183e","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"65443cc6-0dc0-3028-a086-98f2323157a4","name":"Write Raw JSON to S3","comments":"","position":{"x":1216.0,"y":-248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":"application/json","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"nifi-source/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"crnxx-uat2","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"39d9ab28-77ec-320e-8f19-2192e4b23697","name":"InferAvroSchema","comments":"","position":{"x":1352.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.kite.InferAvroSchema","properties":{"Schema Output Destination":"flowfile-attribute","Get CSV Header Definition From Data":"true","Avro Record Name":"recordName","Charset":"UTF-8","CSV Header Line Skip Count":"0","CSV delimiter":",","CSV Escape String":"\\","CSV Header Definition":null,"Input Content Type":"use mime.type value","Pretty Avro Output":"true","CSV Quote String":"'","Number Of Records To Analyze":"10"},"propertyDescriptors":{"Schema Output Destination":{"name":"Schema Output Destination","displayName":"Schema Output Destination","identifiesControllerService":false,"sensitive":false},"Get CSV Header Definition From Data":{"name":"Get CSV Header Definition From Data","displayName":"Get CSV Header Definition From Data","identifiesControllerService":false,"sensitive":false},"Avro Record Name":{"name":"Avro Record Name","displayName":"Avro Record Name","identifiesControllerService":false,"sensitive":false},"Charset":{"name":"Charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false},"CSV Header Line Skip Count":{"name":"CSV Header Line Skip Count","displayName":"CSV Header Line Skip Count","identifiesControllerService":false,"sensitive":false},"CSV delimiter":{"name":"CSV delimiter","displayName":"CSV delimiter","identifiesControllerService":false,"sensitive":false},"CSV Escape String":{"name":"CSV Escape String","displayName":"CSV Escape String","identifiesControllerService":false,"sensitive":false},"CSV Header Definition":{"name":"CSV Header Definition","displayName":"CSV Header Definition","identifiesControllerService":false,"sensitive":false},"Input Content Type":{"name":"Input Content Type","displayName":"Input Content Type","identifiesControllerService":false,"sensitive":false},"Pretty Avro Output":{"name":"Pretty Avro Output","displayName":"Pretty Avro Output","identifiesControllerService":false,"sensitive":false},"CSV Quote String":{"name":"CSV Quote String","displayName":"CSV Quote String","identifiesControllerService":false,"sensitive":false},"Number Of Records To Analyze":{"name":"Number Of Records To Analyze","displayName":"Number Of Records To Analyze","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"3c20c874-b381-3bf8-9957-9fb312d34974","name":"Consume CDC Kafka Topic","comments":"","position":{"x":2000.0,"y":-360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":"f5fcfb80-d784-30f4-b6ba-48f6f04e69b6","group.id":"nifi_consumer","bootstrap.servers":"localhost:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"9d2d575d-089c-37b3-a93b-152fae342d6e","message-header-encoding":"UTF-8","sasl.username":null,"max.poll.records":"10000","security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"cdc_topic","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"831a3b27-6082-32de-b1d7-024891b169c1","name":"ConvertJSONToSQL","comments":"","position":{"x":568.0,"y":8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2.2.2.4.0-143"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"customers","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"34caba24-9d3e-3c09-bc18-8cf621ff3d20","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"33722ee5-8b2d-3209-90f7-fe6c2942dd53","name":"","source":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"destination":{"id":"16481b3d-e61f-3edc-8fec-5d76021080a1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertAvroToParquet","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1224.0,"y":456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"ad606529-7909-391e-b674-08a91471d60b","name":"","source":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"destination":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1821.0,"y":355.0},{"x":1821.0,"y":405.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"8b9bb110-deeb-37bd-aef5-78486e483b4b","name":"","source":{"id":"39d9ab28-77ec-320e-8f19-2192e4b23697","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"InferAvroSchema","comments":""},"destination":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1224.0,"y":304.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"30b9b657-4009-3c0b-96d0-7e1817957969","name":"","source":{"id":"30e3fe89-2caf-3797-9f65-49a7d9e318eb","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Pull from DBMS","comments":""},"destination":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1074.89990234375,"y":-104.20000457763672}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"822ac25d-4087-3b5f-acd6-78e42db95bc7","name":"","source":{"id":"3bb6659d-e487-341f-b43b-71164b197180","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Parquet to S3","comments":""},"destination":{"id":"3bb6659d-e487-341f-b43b-71164b197180","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Parquet to S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1821.0,"y":672.0},{"x":1821.0,"y":722.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"92985196-0b4d-3984-8e7f-a0ff3c0de564","name":"","source":{"id":"16481b3d-e61f-3edc-8fec-5d76021080a1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertAvroToParquet","comments":""},"destination":{"id":"16481b3d-e61f-3edc-8fec-5d76021080a1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertAvroToParquet","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1815.0,"y":513.0},{"x":1815.0,"y":563.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"9606f02f-eb68-32a3-a7a4-ed28502b900d","name":"","source":{"id":"3c20c874-b381-3bf8-9957-9fb312d34974","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Consume CDC Kafka Topic","comments":""},"destination":{"id":"65443cc6-0dc0-3028-a086-98f2323157a4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Raw JSON to S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"03eef808-7194-3ac6-8eab-564bc56410b9","name":"","source":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"destination":{"id":"831a3b27-6082-32de-b1d7-024891b169c1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"06a914da-579a-3e1c-bf40-7e9e5e368865","name":"","source":{"id":"831a3b27-6082-32de-b1d7-024891b169c1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"1fa3def4-ccfe-37e5-a8aa-31f2751d620d","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"PutHBaseRecord","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":420.8999938964844,"y":279.79998779296875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"9babcb6a-8980-3d4b-973a-2e066a048cc7","name":"","source":{"id":"65443cc6-0dc0-3028-a086-98f2323157a4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Raw JSON to S3","comments":""},"destination":{"id":"65443cc6-0dc0-3028-a086-98f2323157a4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Raw JSON to S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1656.0,"y":-144.0},{"x":1696.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"86560bbd-4de6-378d-ac6e-e625cda152f0","name":"","source":{"id":"831a3b27-6082-32de-b1d7-024891b169c1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"b1894d91-1dbe-3ce9-9073-c492e63c8c00","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Insert data to Hive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"793acc83-f20d-3bf6-ad3c-488e132b135c","name":"","source":{"id":"b1894d91-1dbe-3ce9-9073-c492e63c8c00","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Insert data to Hive","comments":""},"destination":{"id":"b1894d91-1dbe-3ce9-9073-c492e63c8c00","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Insert data to Hive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1041.0,"y":343.8000183105469},{"x":1041.0,"y":393.8000183105469}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"ed8d3e6d-03ac-3a72-85ae-37e39020ad06","name":"","source":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"destination":{"id":"39d9ab28-77ec-320e-8f19-2192e4b23697","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"InferAvroSchema","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1224.0,"y":144.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"d2512c39-7a31-3cc4-af30-4fc72e42cd8b","name":"","source":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"destination":{"id":"4d7b0f34-f0db-370f-9b23-2c765856f952","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertJSONToAvro","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["incompatible"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1823.0,"y":358.0},{"x":1826.0,"y":455.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"54f08021-22a3-320b-934d-2ad61df9546b","name":"","source":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"destination":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1816.0,"y":44.0},{"x":1816.0,"y":94.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"57857833-8926-3021-88dd-e98fba45234e","name":"","source":{"id":"39d9ab28-77ec-320e-8f19-2192e4b23697","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"InferAvroSchema","comments":""},"destination":{"id":"39d9ab28-77ec-320e-8f19-2192e4b23697","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"InferAvroSchema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unsupported content","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1822.0,"y":198.0},{"x":1822.0,"y":248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"f8d14d05-8bda-3f12-80a1-018e5ca54ddd","name":"","source":{"id":"3c20c874-b381-3bf8-9957-9fb312d34974","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Consume CDC Kafka Topic","comments":""},"destination":{"id":"94ab929a-af10-35b6-a9da-0fb9215a0eb4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Transform-  Upper Case Email ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"25476f90-ee4b-38fc-9827-5e50e3429153","name":"","source":{"id":"30e3fe89-2caf-3797-9f65-49a7d9e318eb","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Pull from DBMS","comments":""},"destination":{"id":"65443cc6-0dc0-3028-a086-98f2323157a4","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Raw JSON to S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"bb00fa52-fce4-332d-bd35-14f00f1776cd","name":"","source":{"id":"16481b3d-e61f-3edc-8fec-5d76021080a1","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"ConvertAvroToParquet","comments":""},"destination":{"id":"3bb6659d-e487-341f-b43b-71164b197180","type":"PROCESSOR","groupId":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb","name":"Write Parquet to S3","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1216.0,"y":608.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"}],"labels":[{"identifier":"7b09626d-82d8-32f1-afb9-bedf803f4365","position":{"x":72.0,"y":240.0},"label":"Insert to Hbase","width":432.0,"height":240.0,"style":{"background-color":"#06520b","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"d8deb931-bb77-3b52-8bb5-17baadd7fba5","position":{"x":1168.0,"y":-304.0},"label":"Write raw JSON to S3","width":704.0,"height":224.0,"style":{"background-color":"#d6ffd6","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"71dd6c00-10a5-3c49-87de-6fdcc219ced0","position":{"x":1960.0,"y":-408.0},"label":"RDBMS CDC Data Stream\n","width":416.0,"height":232.0,"style":{"background-color":"#2875f0","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"63c230a6-10ef-34f0-bde4-9a23d49d628d","position":{"x":1168.0,"y":-56.0},"label":"Apply transformations, convert to Parquet, & write to S3","width":704.0,"height":840.0,"style":{"background-color":"#3dbd4e","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"4eccecb6-4906-3ea6-98b8-4b194bf05e7e","position":{"x":496.0,"y":-408.0},"label":"Batch SQL Extract","width":448.0,"height":224.0,"style":{"background-color":"#b5d3ff","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"872cde4a-752d-3a35-8ee2-435e4896cf76","position":{"x":528.0,"y":-40.0},"label":"Insert Data to Hive Managed Table","width":464.0,"height":520.0,"style":{"background-color":"#1e8a36","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"}],"funnels":[],"controllerServices":[{"identifier":"34caba24-9d3e-3c09-bc18-8cf621ff3d20","name":"DBCPConnectionPool-Postgres","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.10.20.76:5499/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/tmp/postgresql-42.3.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"3dce3976-12a8-36da-b014-05e12f8e76e9","name":"Hive3ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.15.2.2.2.4.0-143"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://hs2-crnxx-hive-vdw.dw-crnxx-aw-env.a465-9q4k.cloudera.site/default;transportMode=http;httpPath=cliservice;socketTimeout=60;ssl=true;auth=browser;","Kerberos Principal":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":null},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"9d2d575d-089c-37b3-a93b-152fae342d6e","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"cc907f1d-dbcc-309c-b2e1-433006a4183e","name":"HBase_1_1_2_ClientService","comments":"","type":"org.apache.nifi.hbase.HBase_1_1_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_1_1_2-client-service-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"kerberos-credentials-service":null,"Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":null,"HBase Client Retries":"1","kerberos-user-service":null,"Hadoop Configuration Files":"/opt/cloudera/parcels/CDH-7.2.14-1.cdh7.2.14.p0.22079220/share/doc/hbase-solr-doc-1.5.0.7.2.14.0/demo/hbase-site.xml,/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","DIRECTORY"]}}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"},{"identifier":"f5fcfb80-d784-30f4-b6ba-48f6f04e69b6","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2.2.2.4.0-143"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2.2.2.4.0-143"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f8fd2b6-c0e4-37a4-b6f2-128c7453edbb"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}